*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

.card {
    width: 80%;
    /* % px em rem vh = height vw = width */
    /* view height, view width */
    height: 100px;
    background-color: #ffffff; 
    /* RGB  */
    /* border: 1px solid #d4d4d4; */
    border-top: 4px solid #9680f6;
    /* border-top-right-radius: 16px;
    border-bottom-left-radius: 16px; */
    
    border-radius: 16px;
    /* topt && right && bottom && left */
    /* border-radius: 16px 32px; */
    /* top-left && bottom-right - top-right && bottom-left */
    /* border-radius: 8px 16px 32px; */
    /* top-left - top-right && bottom-left - bottom-right */

    /* padding: 16px;  */
    /* padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px; */


    padding: 16px;
    /* padding-top: 20px; */

    /* padding: 20px 10px; */
    /* top && bottom - left && right */

    /* padding: 20px 1px 15px; */
    /* top - left && right - bottom */

    /* padding: 20px 5px 15px 25px; */
    /* top - right - bottom - left */

    overflow: hidden;

    margin: 20px auto;
}
.card_title {
    text-align: right;
    color: #555555;
}

/* 100 - (16*2) = 78px */